/* === GENERAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* === HEADER === */
.main-header {
  background-color: #fff;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #007a33; /* Verde Splendor Herbs */
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #004d1a; /* tono más oscuro al pasar el cursor */
}

/* === FOOTER === */
.main-footer {
  background-color: #007a33;
  color: white;
  padding: 80px 0;
  text-align: left;
}

.footer-content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.95rem;
}

.footer-content p {
  display: flex;
  align-items: center;
  gap: 8px;
}
