/* === GENERAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}
.main-content {
  flex: 1;
}

.hero {
  width: 98%;
  margin: 15px auto; /* margen arriba y abajo */
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.hero img {
  width: 100%;
  height: auto; /* mantiene proporciones */
  display: block; /* elimina espacios blancos abajo */
}

.hero-text {
  text-align: center;
  margin-top: 20px; /* espacio entre la imagen y el texto */
}
.hero-text b{
  display: block; /* para que ocupe toda la línea */
  margin-bottom: 60px; /* ajusta la distancia según prefieras */
  font-weight: 500; /* opcional: un poco menos grueso */
}
.hero-text h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #007a33; /* verde principal */
}
/* === HEADER === */
.main-header {
  background-color: #fff;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
  padding: 25px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-menu a {
  text-decoration: none;
  color: #007a33; /* Verde Splendor Herbs */
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #004d1a; /* tono más oscuro al pasar el cursor */
}

/* -------- Overlay base -------- */
.overlay {
  position: relative;
}

.overlay-menu {
  display: none;
  position: absolute;
  top: 100%; /* justo debajo del texto principal */
  left: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 6px;
  padding: 10px 0;
  list-style: none;
  min-width: 160px;
  z-index: 10;
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.25s ease;
}

/* Cuando está activa */
.overlay.active .overlay-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.overlay-menu li {
  padding: 6px 18px;
}

.overlay-menu a {
  color: #222;
  font-weight: 500;
  text-decoration: none;
  display: block;
}

.overlay-menu a:hover {
  background-color: #f2f2f2;
  color: #0d6600;
}

.menu-toggle {
  cursor: pointer;
  position: relative;
  z-index: 20;
}


/* === FOOTER === */
.main-footer {
  background-color: #008339;
  color: white;
  padding: 50px 0;
  text-align: left;
}

.footer-content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1rem;
}

.footer-content p {
  display: flex;
  align-items: center;
  gap: 8px;
}
