body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/imagen_fondo_admin.jpg") no-repeat center center/cover;
    font-family: Arial, sans-serif;
}


/* Caja del login */
.login-container {
    width: 320px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    background: #2a7c2a;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #256b25;
}

.main-content {
  margin-top: 110px; /* ajusta según el tamaño del header */
}
.hero {
  position: relative;
  width: 98%;
  margin: 15px auto; /* margen arriba y abajo */
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.hero img {
  width: 100%;
  height: auto; /* mantiene proporciones */
  display: block; /* elimina espacios blancos abajo */
}