body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/Pagina dashboard.jpg") no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

/* Caja del login */
.login-container {
    width: 320px;
    background: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

/* CONTENEDOR */
.dashboard-container {
    text-align: center;
    padding: 40px 20px;
}

/* TÍTULOS */
.titulo {
    font-size: 28px;
    margin-bottom: 10px;
    color: #166316;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 30px;
    color: #4a4a4a;
}

/* BOTONES PRINCIPALES */
.botones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.btn {
    background: #2a7c2a;
    color: white;
    padding: 14px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    width: 230px;
    margin: 0 auto;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background: #256b25;
}

/* BOTÓN CERRAR SESIÓN */
.logout-btn {
    background: #b80000;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #9a0000;
}

.cookie-banner {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  z-index: 9999;
  max-width: 90%;
}

.btnCookie {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnCookie:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

